<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066692684625-j7o8an8r7b8si9jtqk3i05gt4tdjfpbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066692684625-j7o8an8r7b8si9jtqk3i05gt4tdjfpbc</string>
	<key>API_KEY</key>
	<string>AIzaSyBp5wHAJSMOqMnwbi5fwaCyeI1bXplQrIk</string>
	<key>GCM_SENDER_ID</key>
	<string>1066692684625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MyCompany197.ElMohaseb-Soft</string>
	<key>PROJECT_ID</key>
	<string>elmohaseb-e90cf</string>
	<key>STORAGE_BUCKET</key>
	<string>elmohaseb-e90cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066692684625:ios:e1fe60815841f8d5a54170</string>
	<key>DATABASE_URL</key>
	<string>https://elmohaseb-e90cf.firebaseio.com</string>
</dict>
</plist>